@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>List</title>
</head>
<body>
    <h1 class="text-center mb-5 mt-3" style="color:blueviolet">List Of Applicants</h1>
    <div class="container">
        @if(ViewBag?.Data != null)
        {
            <div class="row mb-3">
                <div class="col-md text-center"><b>Name</b></div>
                <div class="col-md text-center"><b>Email</b></div>
                <div class="col-md text-center"><b>Address</b></div>
                <div class="col-md text-center"><b>Contact Number</b></div>
                <div class="col-md text-center"><b>Gender</b></div>
                <div class="col-md text-center"><b>Relationship Status</b></div>
                <div class="col-md text-center"><b>Update</b></div>
                <div class="col-md text-center"><b>Delete</b></div>
            </div>
            <hr />
            @foreach(var item in ViewBag.Data)
            {
                <div class="row mb-2">
                    <div class="col-md text-center">@item.Name</div>
                    <div class="col-md text-center">@item.Email</div>
                    <div class="col-md text-center">@item.Address</div>
                    <div class="col-md text-center">@item.PhoneNo</div>
                    <div class="col-md text-center">@item.Gender</div>
                    <div class="col-md text-center">@item.RelationshipStatus</div>
                    <div class="col-md text-center"><a asp-action="Update" asp-controller="Services" asp-route-id="@item.Id" class="btn btn-warning">Update</a></div>
                    <div class="col-md text-center"><a asp-action="Delete" asp-controller="Services" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></div>
                </div>
            }
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
